<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stoyan.weather_android_1901321048">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather_Android_1901321048">
        <activity android:name=".listviewNight"></activity>
        <activity android:name=".ForecastTodayActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Forecast8Activity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".RESTActiviry" />
        <activity android:name=".HistoryActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".ForecastActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".listview" />
    </application>

</manifest>